<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EmailSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>compose</servlet-name>
  <servlet-class>controller.ComposeMail</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>compose</servlet-name>
  <url-pattern>/compose</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>inbox</servlet-name>
  <servlet-class>controller.Inbox</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>inbox</servlet-name>
  <url-pattern>/inbox</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ProfileServlet</servlet-name>
  <servlet-class>controller.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ProfileServlet</servlet-name>
  <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>Outbox</servlet-name>
  <servlet-class>controller.Outbox</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Outbox</servlet-name>
  <url-pattern>/Outbox</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
  <servlet-name>logout</servlet-name>
  <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>logout</servlet-name>
  <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
</web-app>